body {
  font-family: 'Montserrat', sans-serif;
  min-height: 100vh;
  line-height: 1;
  text-rendering: optimizeSpeed;
  /* background: #33007b; */
  background: url("./assets/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
}

@keyframes flicker {
    
  0%, 18%, 22%, 25%, 53%, 57%, 100% {

      text-shadow:
      0 0 4px #fff,
      0 0 11px #fff,
      0 0 19px #fff,
      0 0 40px #c146ff,
      0 0 80px #c146ff,
      0 0 90px #c146ff,
      0 0 100px #c146ff,
      0 0 150px #c146ff;
  
  }
  
  20%, 24%, 55% {        
      text-shadow: none;
  }    
}

@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-20px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}

a {
  all: unset;
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #31004a; 
}

::-webkit-scrollbar-thumb {
  background: #8300c4;
  border-radius: 10px;
  transition: ease-in-out 200ms;
}

::-webkit-scrollbar-thumb:hover {
  background: #c146ff;
}


.header {
  display: flex;
  justify-content: space-between;
  background: #31004a;
  width: 100%;
  padding: 10px 40px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  z-index: 1;
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box;    
  box-sizing: border-box;         
}

.sub-header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.name {
  font-family: 'Neonderthaw', sans-serif;
  font-size: 42px;
  font-weight: 500;
  font-style: italic;
  transition: ease-in-out 200ms;
  animation: flicker 1.5s infinite alternate;
  color: #fff;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .container {
  margin-top: 62px;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  padding: 40px;
  gap: 20px;
  /* background: red; */
}

.sobre {
  display: flex;
  gap: 20px;
}

.sobre-img {
  background: rgba(193,70,255, 0.45);
  backdrop-filter: blur(25px);
  height: 250px;
  padding: 10px;
  border-radius: 16px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.sobre-img img {
  border-radius: 20px;
}

.sobre-text {
  background: rgba(193,70,255, 0.45);
  backdrop-filter: blur(25px);
  padding: 10px 20px 24px;
  border-radius: 20px;
  color: #FFF;
  font-size: 16px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  line-height: 24px;
}

.sobre-text img {
  border: 2px white solid;
  border-radius: 50%;
	overflow: hidden;
	box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
	transform: translatey(0px);
  animation: float 6s ease-in-out infinite;
  img { width: 100%; height: auto; }
}

.container-text {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.contato-link {
  padding: 20px;
}

/* .box-text {
  background: rgba(193,70,255, 0.45);
  backdrop-filter: blur(25px);
  padding: 20px;
  border-radius: 20px;
  color: #FFF;
  font-size: 16px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
} */

.footer {
  position: fixed;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background: #31004a;
  text-shadow: 0px 0px 20px #c146ff;
  color: #c146ff;
  margin-top: 400px;
  font-weight: 600;
  font-size: 16px;
  width: 100%;
}

#sobre1  {
  position: absolute;
  width: 1px;
  height: 1px;
  left: 0;
  margin-top: -82px; /* esse valor varia de acordo com a altura do seu Header, se ele tiver 200px de altura coloque aqui -220px por exemplo */
  background-color: transparent;
  z-index: -1;
}