body {
  font-family: 'Montserrat', sans-serif;
  min-height: 100vh;
  line-height: 1;
  text-rendering: optimizeSpeed;
  /* background: #33007b; */
  background: url("./assets/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
}

a {
  all: unset;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #31004a; 
}

::-webkit-scrollbar-thumb {
  background: #8300c4;
  border-radius: 10px;
  transition: ease-in-out 200ms;
}

::-webkit-scrollbar-thumb:hover {
  background: #c146ff;
}


.header {
  display: flex;
  justify-content: space-between;
  background: #31004a;
  width: 100%;
  padding: 10px 20px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  z-index: 1;
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box;    
  box-sizing: border-box;         
}

.sub-header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  color: #8300c4;
  font-weight: 700;
  font-size: 24px;
}

.sub-header a{
  transition: ease-in-out 200ms;
}

.sub-header a:hover {
  cursor: pointer;
  text-shadow: 1px 1px 20px #c146ff;
  color: #c146ff;
}

.name {
  font-family: 'Chakra Petch', sans-serif;
  font-size: 42px;
  font-weight: 700;
  font-style: italic;
  color: #8300c4;
  transition: ease-in-out 200ms;
}

.name:hover {
  cursor: pointer;
  text-shadow: 1px 1px 20px #c146ff;
  color: #c146ff;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .container {
  margin-top: 62px;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  padding: 40px;
  gap: 20px;
  /* background: red; */
}

.sobre {
  display: flex;
  gap: 20px;
}

.sobre-img {
  background: rgba(193,70,255, 0.45);
  backdrop-filter: blur(25px);
  padding: 10px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.sobre-img img {
  border-radius: 20px;
}

.sobre-text {
  background: rgba(193,70,255, 0.45);
  backdrop-filter: blur(25px);
  padding: 10px;
  border-radius: 20px;
  color: #FFF;
  font-size: 16px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.container-text {
  background: rgba(193,70,255, 0.45);
  backdrop-filter: blur(25px);
  padding: 20px;
  border-radius: 20px;
  color: #FFF;
  font-size: 16px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background: #31004a;
  text-shadow: 1px 1px 20px #c146ff;
  color: #c146ff;
  margin-top: 400px;
  font-weight: 600;
  font-size: 16px;
}

#sobre1  {
  position: absolute;
  width: 1px;
  height: 1px;
  left: 0;
  margin-top: -82px; /* esse valor varia de acordo com a altura do seu Header, se ele tiver 200px de altura coloque aqui -220px por exemplo */
  background-color: transparent;
  z-index: -1;
}